{% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" media="all" />
    <link href="/css/hoover.css" rel="stylesheet" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
{% endblock %}
{% block body %}
    <img src="{{ asset('images/food.jpg') }}" width="100%" height="100%">
        <div class="col-lg-4" style="top: -50%;left: 30%">
            <a href="{{ path('app_show') }}" class="button3" style="width: 500px;height: 80px">
                <div class="center-block">
                    <h2 style="color: red">
                        Dobrodošli na jela svijeta
                    </h2>
                </div>
            </a>
        </div>
</div>
{% endblock %}

